.t-centered {
  text-align: center;
}


@media (max-width: 200px) {
  h1 {
    font-size:20px;
  }
}

@media (min-width: 201px) and (max-width: 620px) {
  body{
    /*background-color: red;*/
  }

  .t-mega-h1 {
    font-size:5.5em;
  }

  .t-mega-h2 {
    font-size:2.3em;
  }

  .t-mega-h3 {
    font-size:1.5em;
  }
}

@media (min-width: 821px) and (max-width: 1366px) {

  body{
    background-color:grey;
  }


  .t-mega-h1 {
    font-size: 7em;
  }

  .t-mega-h2 {
    font-size: 3em;
  }

}
