body {
  font-size: 100%;
}

.t-centered {
  text-align: center;
}

.t-mega-h1 {
  font-size: 3em;
}

.t-mega-h2 {
  font-size: 1.2em;
}

p {
  font-size: 0.65em;
}

@media only screen and (max-width: 400px) {
  body{
    font-size: 120%;
  }

  p {
    font-size: 0.75em;
  }

}

@media (min-width: 821px) and (max-width: 1366px) {

   body {
     font-size: 200%;
   }
}
